{% extends "layouts/admin_base.html" %}
{% block title %}
Rewards
{% endblock title %}
{% block content %}
{% from "_formHelper.html" import render_field %}

<h1 class="display-45">Rewards</h1>
<div>
  {% if count == 0 %}
  <p>There are no rewards.</p>
  {% elif count == 1 %}
  <p>There is 1 rewards.</p>
  {% else %}
  <p>There are {{ count }} rewards.</p>
  {% endif %}
</div>

  <table class="table table-striped" id="datatablesSimple">

    <thead>
      <tr>
        <th>Rewards ID</th>
        <th>Name</th>
        <th>Points</th>
        <th>Category</th>
        <th>Redemption</th>
        <th>Code</th>
        <th>Date_start</th>
        <th>Date_expire</th>
      </tr>
    </thead>
    <tbody>

    {% for rewards in rewards_list %}
      <tr>
        <td>{{ rewards.get_uuid() }}<img src="{{url_for('static', filename='assets/img/' + rewards.get_picture())}}" style="width: 50px;height:50px; position:relative; margin-left:20% "/></td>
        <td>{{ rewards.get_name() }}</td>
        <td>{{ rewards.get_points() }}</td>
        <td>{{ rewards.get_category() }}</td>
        <td>{{ rewards.get_redemption() }}</td>
        <td>{{ rewards.get_code() }}</td>
        <td>{{ rewards.get_date_start() }}</td>
        <td>{{ rewards.get_date_expire() }}</td>

        <td><a href="/admin/updateRewards/{{rewards.get_uuid()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('rewards.delete_rewards', id=rewards.get_uuid())}}" method="POST">
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{rewards.get_uuid()}}">
            Delete
          </button>

    <!-- The Modal -->
    <div class="modal" id="myModal_{{rewards.get_uuid()}}">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to delete?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</td>
          <td>
              {% if rewards.get_status() == 'Available' %}
            <p>
            <form action="{{url_for('rewards.availability', id=rewards.get_uuid())}}" method="POST">
                <button class="btn btn-success" style="margin-top:-15%;position:relative; border-color: rgb(255 255 255)">{{ rewards.get_status() }}</button>
            </form>
            {% else %}
            <p>
            <form action="{{url_for('rewards.availability', id=rewards.get_uuid())}}" id="rewards.get_uuid()"
                method="POST">
                <button class="btn btn-danger" style="margin-top:-13%;position:relative; border-color: rgb(255 255 255)">{{ rewards.get_status() }}</button>
            </form>
            {% endif %}
          </td>
      </tr>
    {% endfor %}
    </tbody>
    <a href="/admin/create_rewards">
        <button class="btn btn-primary" style="position:relative; left: 78%; bottom: -37px">
            + Add Rewards
       </button>
    </a >
  </table>

</div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script type=text/javascript src="{{
  url_for('static', filename='js/datatables-simple-demo.js') }}"></script>




{% endblock %}
