{% extends 'layouts/admin_base.html' %}
{% block title %}
Onsite form
{% endblock title %}
{% block content %}
{% from "_formHelper.html" import render_field %}

<div class="row">
    <!-- LHS -->
    <div class="col-lg-5">
        <div class="card mb-4">
            <div class="card-header">
                <p style="font-size: 30px;"><strong><a href="/admin/retrieveProduct"><i class="fa fa-arrow-left"
                                aria-hidden="true"></i></a>
                        {{ products_id.get_name() }}</strong></p>
            </div>
            <div class="d-flex justify-content-center">
                <img src="{{url_for('static', filename='media/img_prod/' + products_id.get_product_id() + '.png')}}"
                    class="card-img-top img-fluid" alt="event image" style="width: 320px; height: 180px;">
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Attr.</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr>
                            <td>Product Name:</td>
                            <td>{{ products_id.get_name()}}</td>
                            </tr>
                            <tr>
                            <td>Product Price:</td>
                            <td>${{ products_id.get_price()}}</td>
                            </tr>
                            <tr>
                            <td>Product Type:</td>
                            <td>{{ products_id.get_ptype()}}</td>
                            </tr>
                            <tr>
                            <td>Quantity:</td>
                            <td>{{ products_id.get_stock()}}</td>
                            </tr>
                            <td>Status:</td>
                            <td>
                                {% if products_id.get_status() == 'Available' %}
                                <button class="btn btn-success" style="margin: 0px 5px;">{{ products_id.get_status()
                                }}</button>
                                {% elif products_id.get_status() == 'Unavailable' %}
                                    <button class="btn btn-danger" style="margin: 0px 5px;">{{ products_id.get_status()
                                        }}</button>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}