{% extends 'layouts/admin_base.html' %}
{% block title %}
Onsite form
{% endblock title %}
{% block content %}
{% from "_formHelper.html" import render_field %}

<div class="row">
    <!-- LHS -->
    <div class="col-lg-5">
        <nav>
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="/admin/admin_events_detail/{{events_id.get_uuid()}}">Info</a>
                </li>
                {% if events_id.get_category() == 'Onsite' %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/update/{{events_id.get_uuid()}}/onsite">Update</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/update/{{events_id.get_uuid()}}/livestream">Update</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="card mb-4">
            <div class="card-header">
                <p style="font-size: 30px;"><strong><a href="/admin/events"><i class="fa fa-arrow-left"
                                aria-hidden="true"></i></a>
                        {{ events_id.get_name() }}</strong></p>
            </div>
            <div class="d-flex justify-content-center">
                <img src="{{url_for('static', filename='media/event_img/' + events_id.get_uuid() + '.png')}}"
                    class="card-img-top img-fluid" alt="event image" style="width: 320px; height: 180px;">
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Attr.</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Status:</td>
                            <td>
                                {% if events_id.get_status() == 'Active' %}
                                <form action="{{url_for('events.status_event', id=events_id.get_uuid())}}"
                                    id="events.get_uuid()" method="POST">
                                    <button class="btn btn-success" style="margin: 0px 5px;">{{ events_id.get_status()
                                        }}</button>
                                </form>
                                {% elif events_id.get_status() == 'Inactive' %}
                                <form action="{{url_for('events.status_event', id=events_id.get_uuid())}}"
                                    id="events.get_uuid()" method="POST">
                                    <button class="btn btn-danger" style="margin: 0px 5px;">{{ events_id.get_status()
                                        }}</button>
                                </form>
                                {% elif events_id.get_status() == 'Ongoing' %}
                                <button class="btn btn-warning" style="margin: 0px 5px;">{{ events_id.get_status()
                                    }}</button>
                                {% elif events_id.get_status() == 'Expired' %}
                                <button class="btn btn-secondary" style="margin: 0px 5px;">{{ events_id.get_status()
                                    }}</button>
                                {% elif events_id.get_status() == 'Full' %}
                                <button class="btn btn-info" style="margin: 0px 5px;">{{ events_id.get_status()
                                    }}</button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{ events_id.get_desc() }}</td>
                        </tr>
                        <tr>
                            <td>Category:</td>
                            <td>{{ events_id.get_category() }}</td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td>{{ events_id.get_date() }}</td>
                        </tr>
                        <tr>
                            <td>Time:</td>
                            <td>{{ events_id.get_start_time() }}-{{ events_id.get_end_time() }}</td>
                        </tr>
                        {% if events_id.get_category() == 'Onsite' %}
                        <tr>
                            <td>Quantity (Pax):</td>
                            <td>{{ events_id.get_sold() }}/{{ events_id.get_quantity() }}</td>
                        </tr>
                        <tr>
                            <td>Price:</td>
                            <td>${{ events_id.get_price() }}</td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td>{{ events_id.get_location() }}</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>{{ events_id.get_address() }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Link:</td>
                            <td>{{ events_id.get_link() }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Download Txt:</td>
                            <td>
                                <form action="{{url_for('events.eventstxt', id=events_id.get_uuid())}}" id=events_id.get_uuid() method="POST">
                                    <button class="btn btn-dark"><i class="fa fa-download" aria-hidden="true"></i>Txt File</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card mb-4">
                    <div class="card-header">
                        <p style="font-size: 30px;"><strong>
                                Participants Info</strong></p>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Participant's Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in events_id.get_user() %}
                                <tr>
                                    <td>{{ i }}</td>
                                    <td>{{ events_id.get_user()[i] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if events_id.get_category() == 'Onsite' %}
                        {% if events_id.get_status() == 'Full' %}
                        <p>This events has been fully booked!</p>
                        {% else %}
                        <p>Total Number Of Participant(s): {{ events_id.get_sold() }}/{{ events_id.get_quantity()
                            }}</p>
                        {% endif %}
                        {% else %}
                        <p>Total Number Of Sign-Up(s): {{ events_id.get_sold() }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- RHS -->
    <div class="col-lg-7">
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Preview</a>
                </li>
            </ul>
        </nav>
        <div class="card mb-4">
            <div class="card-header">
                <p style="font-size: 30px;"><strong>
                        Preview</strong></p>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row mb-5">
                        <!-- img -->
                        <div class="col-lg-6">
                            <img src="{{url_for('static', filename='media/event_img/' + events_id.get_uuid() + '.png')}}"
                                class="card-img-top img-fluid" alt="event image">
                        </div>
                        <!-- details -->
                        <div class="col-lg-6">
                            <h1 style="font-size: 20px;">{{ events_id.get_name() }}</h1>
                            <p class="text-sm" style="font-size: 10px;">{{ events_id.get_desc() }}</p>
                            {% if events_id.get_category() == 'Onsite' %}
                            <p class="text-success" style="font-size: 15px;">{{ events_id.get_remainder() }}/{{
                                events_id.get_quantity() }}
                                remaining
                                space(s)</p>
                            {% endif %}
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-sm" style="font-size: 13px;">{{ events_id.get_date() }}
                                                </p>
                                                <p style="font-size: 12.5px;">from {{ events_id.get_start_time() }} to
                                                    {{ events_id.get_end_time()
                                                    }}
                                                </p>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex justify-content-end mt-3">
                                                    <button
                                                        class="btn btn-dark btn-sm w-50 h-30 d-flex align-items-center justify-content-center px-0">
                                                        Sign Up</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% if events_id.get_category() == 'Onsite' %}
                        <h2 class="mt-4" style="font-size: 20px;">Meeting Location</h2>
                        <p style="font-size: 15px;">{{ events_id.get_location() }} at {{ events_id.get_address() }}</p>
                        <div class="d-flex justify-content-center">
                            <div id="map" style="height:300px; width:600px;"></div>
                        </div>
                        {% endif %}
                    </div>

                </div>
                {% if events_id.get_category() == 'Onsite' %}
                {% if events_id.get_location() == 'Decathlon SGLab' %}
                <script>

                    function initMap() {
                        // map options
                        var options = {
                            zoom: 18,
                            center: { lat: 1.30425, lng: 103.88239 }
                        }

                        // new map
                        var map = new
                            google.maps.Map(document.getElementById('map'), options);

                        var markers = [
                            {
                                coords: { lat: 1.30425, lng: 103.88239 },
                                content: '230 Stadium Blvd, Singapore 397799'
                            }
                        ];

                        // addmarker loop
                        for (var i = 0; i < markers.length; i++) {
                            addMarker(markers[i]);
                        }

                        function addMarker(props) {
                            var marker = new google.maps.Marker({
                                position: props.coords,
                                map: map,
                            });
                            // check content
                            if (props.content) {
                                var infoWindow = new google.maps.InfoWindow({
                                    content: props.content
                                });

                                marker.addListener('click', function () {
                                    infoWindow.open(map, marker);
                                });
                            }
                        }
                    }
                </script>
                {% else %}
                <script>

                    function initMap() {
                        // map options
                        var options = {
                            zoom: 18,
                            center: { lat: 1.32292, lng: 103.92240 }
                        }

                        // new map
                        var map = new
                            google.maps.Map(document.getElementById('map'), options);

                        var markers = [
                            {
                                coords: { lat: 1.32293, lng: 103.92240 },
                                content: '750A Chai Chee Rd, #01-01 ESR BizPark @Chai Chee, Singapore 469001'
                            }
                        ];

                        // addmarker loop
                        for (var i = 0; i < markers.length; i++) {
                            addMarker(markers[i]);
                        }

                        function addMarker(props) {
                            var marker = new google.maps.Marker({
                                position: props.coords,
                                map: map,
                            });
                            // check content
                            if (props.content) {
                                var infoWindow = new google.maps.InfoWindow({
                                    content: props.content
                                });

                                marker.addListener('click', function () {
                                    infoWindow.open(map, marker);
                                });
                            }
                        }
                    }
                </script>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}