{% from "_formHelper.html" import render_field %}
<link rel="stylesheet" href="/static/css/Navbar/navbar.css">
<nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex justify-content-start" action="{{url_for('base.home_page')}}" method='POST'>
            {{ render_field(searchform.search, class="form-control", placeholder="Search for...") }}
            <input class="btn btn-outline-light" type="submit" value="Search">
        </form>
        <div class="d-flex justify-content-start">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form action="{{url_for('base.cart')}}" class="d-flex">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cartnumber">{{ cart
                                    }}</span>
                            </button>
                        </form>
                    </li>

                    {% if session['loggedin'] == 'user' %}
                    <li id="dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-light"><i class="bi bi-person"></i> {{
                                session['username'] }}</button>
                            <button type="button"
                                class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Profile">My Profile</a>
                                <a class="dropdown-item" href="/AccountDetails">Account details</a>
                                <a class="dropdown-item" href="/rewards_ava">Redeem Rewards</a>
                                <a class="dropdown-item" href="/">Event History</a>
                                <a class="dropdown-item" href="/Friends">Friends</a>
                                <a class="dropdown-item" href="/signout">Logout</a>
                            </div>
                        </div>
                    </li>


                    </li>
                    {% endif %}

                    {% if not session['loggedin'] %}
                    <li class="nav-item"><a class="nav-link" href="#loginModal" data-bs-target="#loginModal"
                            data-bs-toggle="modal" onclick="window.location.href = '/LoginPage'" >Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('auth.sign_up')}}">Sign Up</a></li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>

<script src="/static/js/user/Forms.js"></script>
