{% extends "layouts/base.html" %}
{% block title %}Redstore - preview{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}

<style>
    span {
        cursor: pointer;
    }

    .number {
        margin: 100px;
    }

    .minus,
    .plus {
        width: 20px;
        height: 20px;
        background: #f2f2f2;
        border-radius: 4px;
        padding: 8px 5px 8px 5px;
        border: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    input {
        height: 34px;
        width: 100px;
        text-align: center;
        font-size: 26px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
    }
</style>

<div class="d-flex justify-content-center">
    <img src="{{url_for('static', filename='/media/img_prod/' + products_id.get_product_id() + '.png')}}"
        alt="product image" style="width: 400px; height: 400px;">
</div>
<div>
    <div class="col mb-5">
        <div class="card h-100">
            <div class="card-body p-4">
                <div class="text-center">
                    <h1>{{ products_id.get_name() }}</h1>
                    <h2>Price: {{ products_id.get_price() }}</h2>
                    <h3>Stock: {{ products_id.get_stock() }}</h3>
                    <p>{{ products_id.get_comments() }}</p>

                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1" id="quantity"/>
                        <span class="plus">+</span>
                    </div>


                    <div class="col-lg-6">
                        <form action="{{url_for('base.addcart', id=products_id.get_product_id())}}"
                            id="products_id.get_product_id()">
                            <div class="d-flex justify-content-end mt-4">
                                <button onclick="quantity()"
                                    class="btn btn-primary btn-sm w-50 h-30 d-flex align-items-center justify-content-center px-0"><i
                                        class="bi bi-cart-fill"></i>Add to
                                    Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.minus').click(function () {
            var $input = $(this).parent().find('input');
            var count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });
        $('.plus').click(function () {
            var $input = $(this).parent().find('input');
            if (parseInt($input.val()) != parseInt('{{products_id.get_stock()}}')) {
                $input.val(parseInt($input.val()) + 1);
                $input.change();
                return false;
            }
        });
    });
</script>
<script>
    function quantity() {
        const URL = '/addcart'
        const xhr = new XMLHttpRequest();
        data = document.getElementById('quantity').value;
        xhr.open('POST', URL);
        xhr.send(data)
    }

</script>
{% endblock %}