{% extends 'layouts/userbase.html' %}
{% from "/_formHelper.html" import render_field %}
{% block title %}
Account Details
{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="static/css/Account/Accountdetails.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


<div id="Title">
    <h2>Change Password</h2>
    <hr>
</div>
<br>

<div id="Back">
    <a href="/AccountDetails">Back</a>
</div>

<div id="Form">
    <form method="post">

        <div>
            {{ render_field(form.CurrentPassword , class= "form-control" , id='old') }}
            <i class="far fa-eye" id="showold" onclick="yes()"></i>
            {% if error == 'Wrongpassword' %}
            <p>Your password is incorrect</p>
            {% endif %}
        </div>

        <div>
            {{ render_field(form.NewPassword , class= "form-control" , id='new' ) }}
             <i class="far fa-eye" id="shownew"></i>
            {% if error == 'Samepassword' %}
            <p>New password cannot be the same as your old one</p>
            {% endif %}
        </div>

        <div>
            {{ render_field(form.ConfirmNewPassword , class= "form-control" , id='confirm') }}
             <i class="far fa-eye" id="showconfirm"></i>
        </div>

        <div>
            <input type="submit" value="Save changes" class="btn btn-outline-success" id="submit"/>
        </div>
    </form>
</div>



<script>



    const old = document.querySelector('#showold');
    const passwordone = document.getElementById("old")



    old.addEventListener('click', function (e) {

        const type = passwordone.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordone.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
});




    const news = document.querySelector('#shownew');
    const passwordtwo = document.getElementById("new")

    news.addEventListener('click', function (e) {

        const type = passwordtwo.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordtwo.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
});


    const confirm = document.querySelector('#showconfirm');
    const passwordthree = document.getElementById("confirm")

    confirm.addEventListener('click', function (e) {

        const type = passwordthree.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordthree.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
});


</script>
{% endblock %}


{% block footer %}
{% endblock footer %}
