{% extends 'layouts/admin_base.html' %}
{% block title %}
Onsite form
{% endblock title %}
{% block content %}
{% from "_formHelper.html" import render_field %}

<div class="row justify-content-center">
    <div class="col-lg-5">
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/events/add/onsite">Onsite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/events/add/livestream">Livestream</a>
                </li>
            </ul>
        </nav>
        <div class="card mb-4">
            <div class="card-header">
                <p style="font-size: 30px;"><strong><a href="/admin/events"><i class="fa fa-arrow-left"
                                aria-hidden="true"></i></a>
                        Onsite Class Form</strong></p>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {{ render_field(form.name, class="form-control", placeholder="Name") }}
                    {{ render_field(form.desc, class="form-control", placeholder="Description") }}
                    {{ render_field(form.date, class="form-control datepicker") }}
                    {{ render_field(form.start_time, class="form-control") }}
                    {{ render_field(form.end_time, class="form-control") }}
                    {{ render_field(form.image, class="form-control",
                    onchange="document.getElementById('preview_img').src = window.URL.createObjectURL(this.files[0])")
                    }}
                    {{ render_field(form.location, class="form-control")}}
                    {{ render_field(form.quantity, class="form-control", placeholder="Quantity") }}
                    {{ render_field(form.price, class="form-control", placeholder="Price") }}
                    <input type="submit" value="Confirm" class="btn btn-success mt-2">
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Preview Img</a>
                </li>
            </ul>
        </nav>
        <div class="card mb-4">
            <div class="card-header">
                <p style="font-size: 30px;"><strong><a href="/admin/events"></a>
                        Preview Image</strong></p>
            </div>
            <div class="card-body">
                <div class="col-lg-4">
                    <img id="preview_img" style="height: 120px; width: 240px" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}